
.Editor {
	@apply bg-white;
	@apply text-slate-800 text-sm font-mono select-none outline-none;
}

.EditorHeader {
	@apply px-2 py-2;
}

.EditorHeader > span {
	@apply px-2 py-1 mr-2;
	@apply bg-slate-200 font-bold text-sm;
}

.L {
	@apply py-2;
}

.L:nth-child(odd) {
	@apply bg-slate-100;
}

.L:nth-child(even) {
	@apply bg-slate-300;
}

.L.A {
	@apply bg-slate-400;
}

.LN {
	@apply px-2 w-12;
	@apply border-r-2;
}

.LT {
	@apply px-2 cursor-text;
}

